django
dj_database_url
python-decouple
djangorestframework
markdown 
django-filter 
django_apscheduler
psycopg2-binary
django-model-utils
whitenoise
gunicorn
drf-writable-nested
urllib3
pytz-deprecation-shim
PyYAML
djangorestframework-simplejwt
BeautifulSoup4